#!/usr/bin/env -S goby_launch -L -P

gobyd <(gen/bot.py gobyd)
goby_logger <(gen/bot.py goby_logger)

#bar30-driver <(gen/bot.py bar30-driver)
#adafruit-BNO055-driver <(gen/bot.py adafruit-BNO055-driver)
atlas-scientific-ezo-ec-driver <(gen/bot.py atlas-scientific-ezo-ec-driver)
salinity-subscriber <(gen/bot.py salinity-subscriber) -vvvv
